/* General */
body {
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
}

body,
a,
p a {
  color: #6d6a6a;
}

p {
  line-height: 1.7em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 20px 0;
  color: #2b2b2b;
  font-weight: 400;
}

h1 {
  font-size: 50px;
  line-height: 1.32em;
}
h2 {
  font-size: 38px;
  line-height: 1.447em;
}
h3 {
  font-size: 30px;
  line-height: 1.4em;
}
h4 {
  font-size: 24px;
  line-height: 1.5em;
}
h5 {
  font-size: 22px;
  line-height: 1.363em;
}
h6 {
  font-size: 16px;
  line-height: 1.2em;
}

/* Header*/

.header {
  padding: 20px 10px 10px;
}

.header .logo {
  width: 100%;
  max-width: 200px;
  margin: auto;
}

.menu {
  display: flex;
  align-items: center;
  background-color: #a893c2;
  color: white;
  font-weight: 600;
}

.menu .top-menu {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: center;
  flex-flow: column;
  text-align: center;
}

@media (min-width: 768px) {
  .menu .top-menu {
    flex-flow: row;
    text-align: left;
  }
}

.top-menu a {
  color: white;
  padding: 16px 12px;
  display: block;
  transition: background 0.3s ease-in-out;
}

.top-menu a:hover {
  background: #a2c8e8;
}

/* Main content */

.main-content {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto;
  grid-gap: 30px;
  padding: 40px 0;
}

@media (min-width: 768px) {
  .main-content {
    grid-template-columns: minmax(60%, 70%) minmax(auto, 30%);
    grid-template-rows: auto;
  }
}

.recent-posts,
.sidebar {
  padding: 15px 20px;
}

.post {
  margin-bottom: 40px;
  padding-bottom: 30px;
}

.post a:hover {
  color: #7bb5e6;
}

.post-thumbnail {
  margin-bottom: 20px;
}

.post-content {
  margin-top: 20px;
}

.post-footer {
  padding: 20px 0;
  margin: 40px 0 30px;
  border-top: 1px solid #efeaea;
  border-bottom: 1px solid #efeaea;
  display: flex;
  justify-content: space-around;
}

.post-footer .fa {
  margin-right: 7px;
}

/* Utilities */

.container {
  width: 100%;
  max-width: 1300px;
  margin: auto;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}
